airsim==1.8.1
cv-bridge==3.2.1
JSBSim==1.2.0
msgpack==1.0.8
msgpack-rpc-python==0.4
nav-msgs==4.2.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
osrf-pycommon==2.0.2
python-qt-binding==1.1.2
rclpy==3.3.13
rcutils==5.1.6
